{% extends "base.html" %}

{% block content %}
  <h2>Juices available:</h2>
  <form method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="number" name="quantity">
    <button type="submit">Add to list</button>
  </form>

  <h2>Sale Items:</h2>
  <ul>
    {% for sale_item in sale.saleitem_set.all %}
    <li>{{ sale_item.juice.name }} - Quantity: {{ sale_item.quantity }}</li>
    {% endfor %}
  </ul>
  <form action="{% url 'juiceapp:complete_purchase' %}" method="PUT">
    {% csrf_token %}
    <button type="submit">Complete Purchase</button>
  </form>
{% endblock %}
{% block footer %}
  <a href="/juiceapp/bills">Compras realizadas</a>
  {{ block.super }}
{% endblock %}